<h1>Log in below</h1>

<p><%= flash[:error] %></p>

<%= form_for :user do |f| %>    <!-- can use a symbol instead of @ since we arent creating  -->
<!-- a new user we are finding one that already exists - Dont need to pass in a blank user instance --> 
    <%= f.label :email %>       
    <%= f.email_field :email %> <!-- #gives automatic validations -->
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>

