<% if !logged_in? %>
    <br>
    <h3>Make Sure you Log in or Sign up to add any restaurants</h3>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
<% end %>


<h1>All the Restaurants</h1>

<ol>
    <% @restaurants.each do |restaurant| %>
    <li>
    <%= restaurant.restaurant_name %>
    <%= link_to "Review #{restaurant.restaurant_name}", new_restaurant_review_path(restaurant) %>
    </li>
    <% end %>
</ol>

<br>

<br>

<br>

<%= link_to "Add another Restaurant", new_restaurant_path %>