<% if !logged_in? %>
    <br>
    <h3>Make Sure you Log in or Sign up to add any restaurants</h3>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
<% end %>


<h1>All the Restaurants</h1>

<ol>
    <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.restaurant_name, restaurant_path(restaurant) %>
    <br>
    <ul>
    <li>Cuisine: <%= restaurant.cuisine.name %></li>
    <li>City: <%= restaurant.city %></li>
    </ul>
    <br>
    <%= link_to "Review #{restaurant.restaurant_name}", new_restaurant_review_path(restaurant) %>
    </li>
    <br>
    <% end %>
</ol>

<br>

<br>

<br>

<%= link_to "Add Restaurant", new_restaurant_path %>