<h1>Add a new Restaurant: </h1>

<%= form_for @restaurant do |f| %>
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name %>
    <br>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <br>
    <%= f.label :city %>
    <%= f.text_field :city%>
    <br>
    <br>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <br>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category%>
    <br>
    <br>
    <%= f.submit "Create Restaurant" %>
    <br>
<% end %>

