<h1><%= @restaurant.restaurant_name %></h1>

<h2>City: <%= @restaurant.city %></h2>
<h2>State: <%= @restaurant.state %></h2>
<h2>Cuisine: <%= @restaurant.cuisine.name %></h2>
<br>

<% if logged_in? %>
    <% if @restaurant.user_id == current_user.id %>
        <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
        <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete #{@restaurant.restaurant_name}?" } %>
    <br>
    <br>
<%= link_to "Review #{@restaurant.restaurant_name}", new_restaurant_review_path(@restaurant) %>
    <% end %>
<% end %>

<br>
<br>
<br>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">
        <h2>Reviews</h2>
    <%= render @restaurant.reviews %>
<!-- will render all the reviews for this restaurant from review partial-->
<br>
		</div>	

	</div>

</div>
