
<h1>Top Reviews for <%= @restaurant.restaurant_name %></h1>

<ul>
<% @reviews.each do |review| %>
    <li>Rating: <%= review.rating %></li>
    <li>Description: <%= review.content %></li> 
    <li>Posted by: <%= review.user.name %></li> 
    </ul>


    <% if review.user_id == current_user.id %>
        <%= link_to "Edit", edit_review_path(review) %>  or  
        <%= link_to "Delete", review_path(review), method: :delete, data: {confirm: "Are you sure?" } %>
    <br>
        <% end %>


    
    <br>
    <% end %>
</ul>
