<% if !logged_in? %>
    <br>
    <h3>Make Sure you Log in or Sign up if you want to review any restaurants</h3>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
<% end %>

<h1>All the reviews</h1>

<ol>
<% @reviews.each do |review| %>
<li><h4>Review for <%= review.restaurant.restaurant_name %> </h4></li>
    <ul>
   <li>Rating: <%= review.rating %></li>
    <br>
    <li>Description: <%= review.content %></li> 
    </ul>
    
    <br>
    <% end %>
</ul>

