<h1>All the reviews</h1>

<ol>
<% @reviews.each do |review| %>
<li><h4>Reviews for <%= review.restaurant.restaurant_name %> </h4></li>
    <ul>
    <li>Rating: <%= review.rating %></li>
    <li>Description: <%= review.content %></li> 
    <li>Posted by: <%= review.user.name %></li> 
    </ul>

    
    <br>
    <% end %>
</ul>

<br>
<br>
<% if !logged_in? %>
    <br>
    <p>Make Sure you Log in or Sign up if you want to add a new review</p>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
<% end %>