<h1>All the reviews</h1>

<ol>
<% @reviews.each do |review| %>

<li><h4>Review for <%= review.restaurant.restaurant_name %> </h4></li>
    <ul>
    <%= link_to "See Review", review_path(review) %>
    <li>Rating: <%= review.rating %></li>
    <li>Description: <%= review.content %></li> 
    <li>Posted by: <%= review.user.name %></li> 
    </ul>

    <% if logged_in? %>

    <% if review.user_id == current_user.id %>
        <%= link_to "Edit", edit_review_path(review) %>  or  
        <%= link_to "Delete", review_path(review), method: :delete, data: {confirm: "Are you sure?" } %>
    <br>
        <% end %>
<% end %>

    
    <br>
    <% end %>
</ul>

<br>
<br>
<% if !logged_in? %>
    <br>
    <p>Make Sure you Log in or Sign up if you want to add a new review</p>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
<% end %>

<br>