<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <nav class="navbar navbar-default"> <!--nav bar components -->
    <div class="container">
      <!-- container add margin the the left and right of content and centers it -->
    <div class="navbar-header">
      <%= link_to "View all Restaurants", restaurants_path, class: "navbar-brand" %>
    </div>   
    <ul class="nav navbar-nav">

    <li><%= link_to "View all Reviews", reviews_path %> </li>
      <% if logged_in? %>
        <li><%= link_to "Add a Restaurant", new_restaurant_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">



      <% if logged_in? %>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", login_path %> </li>
      <% end %>
    </ul>

    </div>
    </div>

  </nav>
    <%= yield %>
  </body>
</html>
