<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div> <!--nav bar components -->
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Add a Restaurant", new_restaurant_path %>
    <%= link_to "View all Restaurants", restaurants_path %>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
