<!DOCTYPE html>
<html >
  <head>
  <link href="app/assets/stylesheets/startbootstrap-grayscale-gh-pages/css/styles.css" rel="stylesheet" type="text/css" />

  <meta name="description" content="_" />
  <meta name="title" property="og:title" content="Restaurant Review" />
  <meta property="og:type" content="_" />
  <meta 
    name="image" 
    property="og:image" 
    content="https://live.staticflickr.com/65535/51852969781_d70a19b695_z.jpg" />
  <meta name="description" property="og:description" content="Restaurant Review" />
  <meta name="author" content="Jess Pesale" />
  
    <title>Restaurant Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;"> <!--nav bar components -->
    <div class="container">
      <!-- container add margin the the left and right of content and centers it -->
    <div class="navbar-header">
      <%= link_to "View all Restaurants", restaurants_path, class: "navbar-brand" %>
      
      <%= link_to "View all Reviews", reviews_path, class: "navbar-brand" %> 
    </div>   
    <ul class="nav navbar-nav">

    </ul>

    <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home Page", root_path %></li>
    <% if logged_in? %>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", login_path %> </li>
      <% end %>
    </ul>

    </div>
    </div>

  </nav>
  <div class="error">
  <%= flash[:message] if flash[:message] %>
  </div>
    <%= yield %>

  </body>
</html>


